.containerDiv {
    height: 92vh;
    background: violet;
    display: flex;
}

.teacherSide {
    height: 100%;
    width: 50%;
    background: lightblue;
    text-align: center;
}

.schoolSide {
    height: 100%;
    width: 50%;
    background: pink;
    text-align: center;
}

.teacherSide h1,
.schoolSide h1 {
    font-size: var(--headingLarge);
}

.teacherSide p,
.schoolSide p {
    font-size: var(--paragraphMedium);
}

.loginRedirectDiv {
    position: absolute;
    min-height: 10vh;
    --width: 15vw;
    width: var(--width);
    background-color: lightskyblue;
    z-index: 5;
    font-size: var(--paragraphLarge);
    top: 50%;
    /* left: 42.5%; */
    left: calc((100vw - var(--width)) / 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3vh;
    outline: 1.5rem solid lightskyblue;
}
