.layoutHeader {
    height: 8vh;
    background-color: rgb(225, 246, 225);
    width: 100vw;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
}

.layoutNav {
    display: flex;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.layoutMain {
    margin: 0 10vw;
}
